
body {
  height: 100vh;
  padding: 15px;
}

.container {
  height: 100%;
  padding: 15px;
  outline: blue 15px solid;
  border: yellow 15px solid;
}

h1 {
  margin-bottom: 20px;
}

h2, h3 {
  margin-bottom: 15px;
}
